.main{
    color: #ffff;
    text-decoration-color:  #ffff;
    padding-top: 2%;
    padding-bottom: 2%;
}
.des{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.arq_im{
    width: auto;
    height: auto;
    margin-left: 45px;
    margin-top: 45px;
    border-radius: 5px;
    border-color: #ffff; 
}
label {
    display: block;
    font: 1.15rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: 0.5rem 0;
}
.dt{
    width: 150px;
    height: 35px;
    border-radius: 5px;
}
.ce{
    color: #ffff;
    height: auto;
    width: 230px;
    text-align: center;
}
.box{
    box-sizing: content-box;
    width: auto;
}
.lb{
    width: 100px;
    height: 100px;
}

.btn-secondary.custom-btn{
    width: 115px;
    background-color: #bd0003;
}
.btn-secondary.custom-btn:hover{
    background-color: black;
}




@media screen and (max-width:765px) {
    nav{
        display: grid;
    }
}